In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Read csv files from Resources - https://www.kaggle.com/nickhould/craft-cans
beer_df = pd.read_csv(os.path.join('..', 'Resources', 'beers.csv'), delimiter=',', index_col=0, header=0,
                      names=['ABV (%)', 'IBU', 'Beer ID', 'Beer Name', 'Beer Style', 'Brewery ID', 'Ounces'])
brewery_df = pd.read_csv(os.path.join('..', 'Resources', 'breweries.csv'), delimiter=',', header=0, 
                         names=['Brewery ID','Brewery Name', 'City', 'State'])

In [3]:
# Display Preview of Data
display(beer_df.head())
display(brewery_df.head())

,ABV (%),IBU,Beer ID,Beer Name,Beer Style,Brewery ID,Ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

   Brewery ID               Brewery Name           City State
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [4]:
# Merge Data Together to Identify Brewery Info to Beer.
df_merged = pd.merge(beer_df, brewery_df, how='left', on='Brewery ID')
df_merged.head()

,ABV (%),IBU,Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN

In [5]:
# Explore Data for further adjustments
print(df_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2410 entries, 0 to 2409
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ABV (%)       2348 non-null   float64
 1   IBU           1405 non-null   float64
 2   Beer ID       2410 non-null   int64
 3   Beer Name     2410 non-null   object
 4   Beer Style    2405 non-null   object
 5   Brewery ID    2410 non-null   int64
 6   Ounces        2410 non-null   float64
 7   Brewery Name  2410 non-null   object
 8   City          2410 non-null   object
 9   State         2410 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 207.1+ KB
None

In [6]:
# Drop Bitterness Measurement column for too many nulls and drop beers of unknown alcoholic content
df_merged.dropna(subset='ABV (%)', inplace=True)
df_merged = df_merged[['ABV (%)', 'Beer ID', 'Beer Name', 'Beer Style', 
                       'Brewery ID', 'Ounces', 'Brewery Name','City', 'State']]
df_merged['ABV (%)'] = df_merged['ABV (%)'] * 100
# Display DF
display(df_merged)

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State
0,5.0,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR
1,6.6,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN
2,7.1,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN
3,9.0,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN
4,7.5,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...
2405,6.7,928,Belgorado,Belgian IPA,424,12.0,Wynkoop Brewing Company,Denver,CO
2406,5.2,807,Rail Yard Ale,American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO
2407,5.5,620,B3K Black Lager,Schwarzbier,424,12.0,Wynkoop Brewing Company,Denver,CO
2408,5.5,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0,Wynkoop Brewing Company,Denver,CO
2409,5.2,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO

In [7]:
# Explore Data for potential changes
print(df_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 0 to 2409
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ABV (%)       2348 non-null   float64
 1   Beer ID       2348 non-null   int64
 2   Beer Name     2348 non-null   object
 3   Beer Style    2346 non-null   object
 4   Brewery ID    2348 non-null   int64
 5   Ounces        2348 non-null   float64
 6   Brewery Name  2348 non-null   object
 7   City          2348 non-null   object
 8   State         2348 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 183.4+ KB
None

In [8]:
# Push DataFrame to csv
df_merged.to_csv(os.path.join('..','Outputs', 'Popular Beers.csv'), index=False)