In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import requests
import os
import json
from pprint import pprint

In [2]:
# Get Cities/Breweries from Output Files
cl_df = pd.read_csv(os.path.join('..', 'Outputs', 'United_States_City_Data.csv'), delimiter=',')
beer_df = pd.read_csv(os.path.join('..', 'Outputs', 'Popular Beers.csv'), delimiter=',')

In [3]:
# Display Previews of dfs
print("Cost Of Living Data:")
display(cl_df.head())
print("Popular Beers:")
display(beer_df.head())

Cost Of Living Data:

,City,Avg Meal Inexp. Restaurant,Avg Meal (For 2) Mid-Range Restaurant,McMeal at McDonalds,Domestic Beer (Restaurant),Imported Beer (Restaurant),Cappuccino,Coke/Pepsi (Restaurant),Water (Restaurant),Milk,...,Leather Business Shoes,1bd Apt. (City Center),1bd Apt. (Outside Center),3bd Apt. (City Center),3bd Apt. (Outside Center),Price/sqm Buy Apt. (City Center),Price/sqm Buy Apt. (Outside Center),Avg. Monthly Income (After Tax),Avg. Mortgage Interest (%),Data Quality
0,Abilene,13.5,60.0,7.25,3.50,6.00,4.33,3.83,2.12,0.88,...,123.330,600.0,800.0,1500.00,1500.0,NaN,NaN,3719.75,5.12,0.0
1,Acton,NaN,102.5,10.00,8.00,7.00,6.67,4.00,2.75,1.32,...,106.670,1600.0,1400.0,2800.00,2500.0,3767.37,2260.42,4500.00,4.00,0.0
2,Acworth,16.0,45.0,7.50,5.00,5.50,5.92,1.67,2.25,0.69,...,55.000,950.0,800.0,1733.33,1225.0,1367.02,NaN,4166.67,NaN,0.0
3,Adrian,17.5,45.0,7.00,3.75,3.62,3.86,2.25,1.35,0.66,...,59.165,750.0,600.0,1400.00,1000.0,NaN,NaN,NaN,3.00,0.0
4,Agoura Hills,NaN,NaN,NaN,NaN,NaN,4.50,NaN,1.00,NaN,...,120.000,1900.0,1800.0,3500.00,3000.0,4144.11,NaN,NaN,2.62,0.0

Popular Beers:

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State
0,0.050,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR
1,0.066,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN
2,0.071,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN
3,0.090,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN
4,0.075,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN

In [4]:
# Merge Current Data into single DataFrame
found_cities = pd.merge(beer_df, cl_df, how='left', on='City', indicator=True)
display(found_cities)

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State,Avg Meal Inexp. Restaurant,...,1bd Apt. (City Center),1bd Apt. (Outside Center),3bd Apt. (City Center),3bd Apt. (Outside Center),Price/sqm Buy Apt. (City Center),Price/sqm Buy Apt. (Outside Center),Avg. Monthly Income (After Tax),Avg. Mortgage Interest (%),Data Quality,_merge
0,0.050,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR,27.5,...,2300.0,1850.00,3375.00,2760.00,5730.710,4305.56,3163.00,5.43,1.0,both
1,0.066,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,both
2,0.071,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,both
3,0.090,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,both
4,0.075,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,0.067,928,Belgorado,Belgian IPA,424,12.0,Wynkoop Brewing Company,Denver,CO,18.0,...,1893.0,1601.38,3436.84,2571.58,4634.175,3242.33,5565.78,4.92,1.0,both
2344,0.052,807,Rail Yard Ale,American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO,18.0,...,1893.0,1601.38,3436.84,2571.58,4634.175,3242.33,5565.78,4.92,1.0,both
2345,0.055,620,B3K Black Lager,Schwarzbier,424,12.0,Wynkoop Brewing Company,Denver,CO,18.0,...,1893.0,1601.38,3436.84,2571.58,4634.175,3242.33,5565.78,4.92,1.0,both
2346,0.055,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0,Wynkoop Brewing Company,Denver,CO,18.0,...,1893.0,1601.38,3436.84,2571.58,4634.175,3242.33,5565.78,4.92,1.0,both
2347,0.052,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO,18.0,...,1893.0,1601.38,3436.84,2571.58,4634.175,3242.33,5565.78,4.92,1.0,both

In [5]:
# Drop rows that were not found in both and keep only found rows
found_cities = found_cities[found_cities['_merge'] == 'both']

# Drop Unwanted Columns
found_cities.drop(labels=['Cinema', 'Leather Business Shoes','Cigarettes (Marlboro - 20 cnt)','Preschool',
                          'Primary School', 'Tennis Court Rental', 'Nike Shoes', 'Data Quality', 
                          '1 min PrePaid Phone', 'Cappuccino', 'McMeal at McDonalds', 'Volkswagen Golf', 
                          'Toyota Corolla', 'Avg. Mortgage Interest (%)' , 'Pair of Jeans', 'Summer Dress', 
                          'Fitness Club Membership', '_merge'], axis=1, inplace=True)
# Display New Data Preview
display(found_cities.head())

# Explore Data Further
print(found_cities.info())

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State,Avg Meal Inexp. Restaurant,...,Gasoline (per Liter),Basic Utilities,Internet,1bd Apt. (City Center),1bd Apt. (Outside Center),3bd Apt. (City Center),3bd Apt. (Outside Center),Price/sqm Buy Apt. (City Center),Price/sqm Buy Apt. (Outside Center),Avg. Monthly Income (After Tax)
0,0.050,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR,27.5,...,1.4,173.47,81.28,2300.0,1850.0,3375.0,2760.0,5730.71,4305.56,3163.0
1,0.066,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,150.00,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.071,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,150.00,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.090,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,150.00,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.075,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN,30.0,...,NaN,150.00,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1576 entries, 0 to 2347
Data columns (total 48 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ABV (%)                                 1576 non-null   float64
 1   Beer ID                                 1576 non-null   int64
 2   Beer Name                               1576 non-null   object
 3   Beer Style                              1575 non-null   object
 4   Brewery ID                              1576 non-null   int64
 5   Ounces                                  1576 non-null   float64
 6   Brewery Name                            1576 non-null   object
 7   City                                    1576 non-null   object
 8   State                                   1576 non-null   object
 9   Avg Meal Inexp. Restaurant              1532 non-null   float64
 10  Avg Meal (For 2) Mid-Range Restaurant   1558 non-null   float64
 11  Domestic Beer (Restaurant)              1549 non-null   float64
 12  Imported Beer (Restaurant)              1564 non-null   float64
 13  Coke/Pepsi (Restaurant)                 1498 non-null   float64
 14  Water (Restaurant)                      1561 non-null   float64
 15  Milk                                    1510 non-null   float64
 16  Bread (Loaf)                            1503 non-null   float64
 17  Rice                                    1548 non-null   float64
 18  Dozen Eggs                              1458 non-null   float64
 19  Cheese (Local)                          1551 non-null   float64
 20  Chicken Fillets                         1494 non-null   float64
 21  Beef Round                              1512 non-null   float64
 22  Apples                                  1539 non-null   float64
 23  Banana                                  1544 non-null   float64
 24  Oranges                                 1533 non-null   float64
 25  Tomato                                  1536 non-null   float64
 26  Potato                                  1540 non-null   float64
 27  Onion                                   1530 non-null   float64
 28  Lettuce                                 1535 non-null   float64
 29  Water Bottle                            1547 non-null   float64
 30  Wine Bottle                             1537 non-null   float64
 31  Domestic Beer (Bottle)                  1455 non-null   float64
 32  Imported Beer (Bottle)                  1511 non-null   float64
 33  One-Way Ticket (Local)                  1360 non-null   float64
 34  Monthly Pass (Local)                    1302 non-null   float64
 35  Taxi (Start)                            1454 non-null   float64
 36  Taxi 1km                                1442 non-null   float64
 37  Taxi 1-hr Wait                          1304 non-null   float64
 38  Gasoline (per Liter)                    1495 non-null   float64
 39  Basic Utilities                         1539 non-null   float64
 40  Internet                                1561 non-null   float64
 41  1bd Apt. (City Center)                  1493 non-null   float64
 42  1bd Apt. (Outside Center)               1445 non-null   float64
 43  3bd Apt. (City Center)                  1453 non-null   float64
 44  3bd Apt. (Outside Center)               1416 non-null   float64
 45  Price/sqm Buy Apt. (City Center)        1262 non-null   float64
 46  Price/sqm Buy Apt. (Outside Center)     1234 non-null   float64
 47  Avg. Monthly Income (After Tax)         1391 non-null   float64
dtypes: float64(41), int64(2), object(5)
memory usage: 603.3+ KB
None

In [6]:
# Create List of Unique Cities After Merge and Cleaning
cities_ls = found_cities['City'].unique().tolist()
print(f"Found {len(cities_ls)} Unique Cities in Data.")

Found 191 Unique Cities in Data.

In [7]:
# Create API Call
# Create Empty df_list to hold DataFrames from API Call
df_list = []

# Loop through cities and call API and append to df_list if there is data
for city in cities_ls:
    try:
        OBD_response = requests.get("https://api.openbrewerydb.org/breweries",params={'by_city': city}).json()
        OBD_df = pd.json_normalize(OBD_response)
        if not OBD_df.empty:
            OBD_df['# Breweries in City'] = int(OBD_df.shape[0])
            df_list.append(OBD_df)
    except:
        pass

In [8]:
# Concat Data into single DataFrame
api_df = pd.concat(df_list, ignore_index=True)

# Display Preview of Data
display(api_df.head())

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,updated_at,created_at,# Breweries in City
0,10-barrel-brewing-co-bend-1,10 Barrel Brewing Co,large,62970 18th St,None,None,Bend,Oregon,None,97701-9847,United States,-121.28170597038259,44.08683530625218,5415851007,http://www.10barrel.com,2023-02-21T01:41:59.300Z,2023-02-21T01:41:59.300Z,20
1,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,None,None,Bend,Oregon,None,97703-2465,United States,-121.32880209261799,44.057564901366796,5415851007,None,2023-02-21T01:41:59.300Z,2023-02-21T01:41:59.300Z,20
2,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,None,None,Bend,Oregon,None,97701,United States,-121.2809536,44.0912109,5415851007,None,2023-02-21T01:41:59.300Z,2023-02-21T01:41:59.300Z,20
3,bend-brewing-co-bend,Bend Brewing Co,brewpub,1019 NW Brooks St,None,None,Bend,Oregon,None,97703-2018,United States,-121.3139312,44.06051115,5413831599,http://www.bendbrewingco.com,2023-02-21T01:41:59.300Z,2023-02-21T01:41:59.300Z,20
4,bend-brewing-high-desert-bend,Bend Brewing High Desert,closed,20650 NE High Desert Lane,None,None,Bend,Oregon,None,97701,United States,-121.29148420219094,44.08727606764976,5413831599,None,2023-02-21T01:41:59.300Z,2023-02-21T01:41:59.300Z,20

In [9]:
# Explore API Data
print(api_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1984 non-null   object
 1   name                 1984 non-null   object
 2   brewery_type         1984 non-null   object
 3   street               1813 non-null   object
 4   address_2            3 non-null      object
 5   address_3            0 non-null      object
 6   city                 1984 non-null   object
 7   state                1980 non-null   object
 8   county_province      5 non-null      object
 9   postal_code          1984 non-null   object
 10  country              1984 non-null   object
 11  longitude            1431 non-null   object
 12  latitude             1431 non-null   object
 13  phone                1775 non-null   object
 14  website_url          1678 non-null   object
 15  updated_at           1984 non-null   object
 16  created_at           1984 non-null   object
 17  # Breweries in City  1984 non-null   int64
dtypes: int64(1), object(17)
memory usage: 279.1+ KB
None

In [10]:
# Create List of Brewery Names to find matches from API Call
breweries = found_cities['Brewery Name'].unique().tolist()
print(f"Found {len(breweries)} breweries in Data")

Found 336 breweries in Data

In [11]:
# Loop through brewery names to correct data to match original dataset names
for brew in breweries:
    for index, row in api_df.iterrows():
        string_api = row['name'].strip()
        if string_api == brew[:len(string_api)]:
            api_df.loc[index,'name'] = brew

In [12]:
# Merge API Data to Current Data Set
merged_df = pd.merge(found_cities, api_df, how='left', left_on=['Brewery Name'], right_on=['name'], indicator=True)

# Clean Data - Keep Found Rows and Drop Duplicates
merged_df = merged_df[merged_df['_merge'] == 'both'].drop(labels=['_merge'],axis=1).drop_duplicates(subset=['Brewery ID', 'City','State'])
merged_df['State'] = merged_df['state']


# Drop Unwanted Columns
merged_df.drop(labels=['id', 'name', 'street', 'address_2','address_3','city','state','county_province',
                       'postal_code', 'phone', 'updated_at', 'created_at'], axis=1, inplace=True)

# Rename Columns
merged_df.rename(columns={'longitude':'Lng', 'latitude': 'Lat',
                          'country': 'Country', 'brewery_type': 'Brewery Type',
                          'website_url': 'website'}, inplace=True)
# Preview Data
display(merged_df.head())

# Explore Data
print(merged_df.info())

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State,Avg Meal Inexp. Restaurant,...,3bd Apt. (Outside Center),Price/sqm Buy Apt. (City Center),Price/sqm Buy Apt. (Outside Center),Avg. Monthly Income (After Tax),Brewery Type,Country,Lng,Lat,website,# Breweries in City
0,0.050,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,Oregon,27.5,...,2760.0,5730.71,4305.56,3163.00,large,United States,-121.28170597038259,44.08683530625218,http://www.10barrel.com,20.0
4,0.066,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,Indiana,30.0,...,NaN,NaN,NaN,NaN,micro,United States,-87.26887786,41.59928343,http://www.18thstreetbrewery.com,1.0
29,0.059,972,Rude Parrot IPA,American IPA,481,16.0,7 Seas Brewing Company,Gig Harbor,Washington,12.0,...,2400.0,3821.19,2852.44,4500.00,micro,United States,-122.4390379,47.242614,http://www.7seasbrewing.com,20.0
35,0.080,2686,Citra Ass Down,American Double / Imperial IPA,1,16.0,Against the Grain Brewery,Louisville,Kentucky,15.0,...,1412.5,3395.26,1226.74,4226.39,micro,United States,-85.7440377,38.2554568,http://atgbrewery.com,20.0
48,0.053,1594,Maylani's Coconut Stout,American Stout,367,16.0,Airways Brewing Company,Kent,Washington,13.0,...,1200.0,1722.23,1506.95,3000.00,micro,United States,-122.2391026,47.4119802,http://www.airwaysbrewing.com,7.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 1662
Data columns (total 54 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ABV (%)                                 152 non-null    float64
 1   Beer ID                                 152 non-null    int64
 2   Beer Name                               152 non-null    object
 3   Beer Style                              152 non-null    object
 4   Brewery ID                              152 non-null    int64
 5   Ounces                                  152 non-null    float64
 6   Brewery Name                            152 non-null    object
 7   City                                    152 non-null    object
 8   State                                   152 non-null    object
 9   Avg Meal Inexp. Restaurant              148 non-null    float64
 10  Avg Meal (For 2) Mid-Range Restaurant   150 non-null    float64
 11  Domestic Beer (Restaurant)              149 non-null    float64
 12  Imported Beer (Restaurant)              151 non-null    float64
 13  Coke/Pepsi (Restaurant)                 147 non-null    float64
 14  Water (Restaurant)                      151 non-null    float64
 15  Milk                                    146 non-null    float64
 16  Bread (Loaf)                            145 non-null    float64
 17  Rice                                    150 non-null    float64
 18  Dozen Eggs                              144 non-null    float64
 19  Cheese (Local)                          150 non-null    float64
 20  Chicken Fillets                         143 non-null    float64
 21  Beef Round                              146 non-null    float64
 22  Apples                                  149 non-null    float64
 23  Banana                                  150 non-null    float64
 24  Oranges                                 149 non-null    float64
 25  Tomato                                  149 non-null    float64
 26  Potato                                  150 non-null    float64
 27  Onion                                   148 non-null    float64
 28  Lettuce                                 149 non-null    float64
 29  Water Bottle                            150 non-null    float64
 30  Wine Bottle                             147 non-null    float64
 31  Domestic Beer (Bottle)                  140 non-null    float64
 32  Imported Beer (Bottle)                  144 non-null    float64
 33  One-Way Ticket (Local)                  124 non-null    float64
 34  Monthly Pass (Local)                    125 non-null    float64
 35  Taxi (Start)                            143 non-null    float64
 36  Taxi 1km                                143 non-null    float64
 37  Taxi 1-hr Wait                          125 non-null    float64
 38  Gasoline (per Liter)                    144 non-null    float64
 39  Basic Utilities                         147 non-null    float64
 40  Internet                                151 non-null    float64
 41  1bd Apt. (City Center)                  145 non-null    float64
 42  1bd Apt. (Outside Center)               134 non-null    float64
 43  3bd Apt. (City Center)                  139 non-null    float64
 44  3bd Apt. (Outside Center)               131 non-null    float64
 45  Price/sqm Buy Apt. (City Center)        114 non-null    float64
 46  Price/sqm Buy Apt. (Outside Center)     108 non-null    float64
 47  Avg. Monthly Income (After Tax)         131 non-null    float64
 48  Brewery Type                            152 non-null    object
 49  Country                                 152 non-null    object
 50  Lng                                     124 non-null    object
 51  Lat                                     124 non-null    object
 52  website                                 137 non-null    object
 53  # Breweries in City                     152 non-null    float64
dtypes: float64(42), int64(2), object(10)
memory usage: 65.3+ KB
None

In [13]:
# Bring in US Census Data Population Estimates by City - 
pop_df = pd.read_excel(os.path.join('..', 'Resources','Annual Census by City.xlsx'), index_col=0, header=None, names=['Geographic Area','Base Pop. Estimate', '2020 Pop. Estimate', '2021 Pop. Estimate'], skiprows=4)

# Clean Data of Notes from bottom of file
pop_df.dropna(subset='Geographic Area', inplace=True)

# Preview Data
display(pop_df.head())

,Geographic Area,Base Pop. Estimate,2020 Pop. Estimate,2021 Pop. Estimate
1,"New York city, New York",8804190.0,8772978.0,8467513.0
2,"Los Angeles city, California",3893986.0,3889834.0,3849297.0
3,"Chicago city, Illinois",2747231.0,2741730.0,2696555.0
4,"Houston city, Texas",2302792.0,2300027.0,2288250.0
5,"Phoenix city, Arizona",1607739.0,1611345.0,1624569.0

In [14]:
# Split Geographic Area to City and State Columns
pop_df[['City','State']] = pop_df['Geographic Area'].str.split(' city, ', regex=True, expand=True)
pop_df.drop(labels='Geographic Area', axis=1, inplace=True)

# Reorder Columns
pop_df = pop_df[['City', 'State', 'Base Pop. Estimate', '2020 Pop. Estimate', '2021 Pop. Estimate']]

# Calculate Year Over Year Growth Rate (%)
pop_df['Pop. Growth (%)'] = round((pop_df['2021 Pop. Estimate'] / pop_df['2020 Pop. Estimate']) - 1, 2)* 100

# Convert dtypes for Pop. Estimate columns
pop_df[['Base Pop. Estimate', '2020 Pop. Estimate', '2021 Pop. Estimate']] = pop_df[['Base Pop. Estimate', '2020 Pop. Estimate', '2021 Pop. Estimate']].astype(int)

# Display Preview of Cleaned Census Data
display(pop_df)

,City,State,Base Pop. Estimate,2020 Pop. Estimate,2021 Pop. Estimate,Pop. Growth (%)
1,New York,New York,8804190,8772978,8467513,-3.0
2,Los Angeles,California,3893986,3889834,3849297,-1.0
3,Chicago,Illinois,2747231,2741730,2696555,-2.0
4,Houston,Texas,2302792,2300027,2288250,-1.0
5,Phoenix,Arizona,1607739,1611345,1624569,1.0
...,...,...,...,...,...,...
800,Cypress,California,50269,50266,49926,-1.0
801,Murray,Utah,50743,50589,49729,-2.0
802,Chesterfield,Missouri,50014,49956,49703,-1.0
803,"Downers Grove village, Illinois",None,50230,50126,49654,-1.0
804,St. Louis Park,Minnesota,50016,50020,49158,-2.0

In [15]:
# Merge Census Data to Merged Data
main_df = pd.merge(merged_df, pop_df, how='inner', on=['City', 'State'])

# Sort df by Growth Rate (%)
main_df.sort_values('Pop. Growth (%)', ascending=False, inplace=True)

# Preview DataFrame
display(main_df.head())

,ABV (%),Beer ID,Beer Name,Beer Style,Brewery ID,Ounces,Brewery Name,City,State,Avg Meal Inexp. Restaurant,...,Brewery Type,Country,Lng,Lat,website,# Breweries in City,Base Pop. Estimate,2020 Pop. Estimate,2021 Pop. Estimate,Pop. Growth (%)
86,0.065,2387,Pine Belt Pale Ale,American Pale Ale (APA),118,12.0,Southern Star Brewing Company,Conroe,Texas,16.50,...,micro,United States,-95.4776897,30.3587546,http://www.southernstarbrewing.com,3.0,89148,90358,94400,4.0
7,0.092,1333,Quakertown Stout,American Double / Imperial Stout,426,12.0,Armadillo Ale Works,Denton,Texas,12.75,...,micro,United States,-97.12830051,33.21286666,http://www.armadilloaleworks.com,10.0,141123,142302,148146,4.0
0,0.050,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,Oregon,27.50,...,large,United States,-121.28170597038259,44.08683530625218,http://www.10barrel.com,20.0,99126,99533,102059,3.0
1,0.050,1210,Mirror Pond Pale Ale,American Pale Ale (APA),454,12.0,Deschutes Brewery,Bend,Oregon,27.50,...,regional,United States,-121.3246184,44.04780638,http://www.deschutesbrewery.com,20.0,99126,99533,102059,3.0
36,0.060,2107,Plum St. Porter,American Porter,219,12.0,Bozeman Brewing Company,Bozeman,Montana,22.00,...,micro,United States,-111.0238884,45.6845234,http://www.bozemanbrewing.com,10.0,52855,53119,54539,3.0

In [16]:
pprint(main_df.columns.tolist())

['ABV (%)',
 'Beer ID',
 'Beer Name',
 'Beer Style',
 'Brewery ID',
 'Ounces',
 'Brewery Name',
 'City',
 'State',
 'Avg Meal Inexp. Restaurant',
 'Avg Meal (For 2) Mid-Range Restaurant ',
 'Domestic Beer (Restaurant)',
 'Imported Beer (Restaurant)',
 'Coke/Pepsi (Restaurant)',
 'Water (Restaurant)',
 'Milk',
 'Bread (Loaf)',
 'Rice',
 'Dozen Eggs',
 'Cheese (Local)',
 'Chicken Fillets',
 'Beef Round',
 'Apples',
 'Banana',
 'Oranges',
 'Tomato',
 'Potato',
 'Onion',
 'Lettuce',
 'Water Bottle',
 'Wine Bottle',
 'Domestic Beer (Bottle)',
 'Imported Beer (Bottle)',
 'One-Way Ticket (Local)',
 'Monthly Pass (Local)',
 'Taxi (Start)',
 'Taxi 1km',
 'Taxi 1-hr Wait',
 'Gasoline (per Liter)',
 'Basic Utilities',
 'Internet',
 '1bd Apt. (City Center)',
 '1bd Apt. (Outside Center)',
 '3bd Apt. (City Center)',
 '3bd Apt. (Outside Center)',
 'Price/sqm Buy Apt. (City Center)',
 'Price/sqm Buy Apt. (Outside Center)',
 'Avg. Monthly Income (After Tax)',
 'Brewery Type',
 'Country',
 'Lng',
 'Lat',
 'website',
 '# Breweries in City',
 'Base Pop. Estimate',
 '2020 Pop. Estimate',
 '2021 Pop. Estimate',
 'Pop. Growth (%)']

In [17]:
# Reorder Columns for readability
main_df = main_df[['City', 'State', 'Country', '2021 Pop. Estimate', 'Pop. Growth (%)', 'Brewery ID', 'Brewery Name', 'Brewery Type', '# Breweries in City',
                   'Beer Style', 'Beer ID', 'Beer Name', 'ABV (%)', 'Ounces', 'Avg Meal Inexp. Restaurant',
                   'Avg Meal (For 2) Mid-Range Restaurant ', 'Domestic Beer (Restaurant)', 'Imported Beer (Restaurant)',
                   'Coke/Pepsi (Restaurant)', 'Water (Restaurant)', 'Milk', 'Bread (Loaf)', 'Rice', 'Dozen Eggs',
                   'Cheese (Local)', 'Chicken Fillets', 'Beef Round', 'Apples', 'Banana', 'Oranges', 'Tomato', 'Potato',
                   'Onion', 'Lettuce', 'Water Bottle', 'Wine Bottle', 'Domestic Beer (Bottle)', 'Imported Beer (Bottle)',
                   'One-Way Ticket (Local)', 'Monthly Pass (Local)', 'Taxi (Start)', 'Taxi 1km', 'Taxi 1-hr Wait', 
                   'Gasoline (per Liter)', 'Basic Utilities', 'Internet', '1bd Apt. (City Center)', '1bd Apt. (Outside Center)',
                   '3bd Apt. (City Center)', '3bd Apt. (Outside Center)', 'Avg. Monthly Income (After Tax)', 'Base Pop. Estimate',
                   '2020 Pop. Estimate', 'website']]
main_df

,City,State,Country,2021 Pop. Estimate,Pop. Growth (%),Brewery ID,Brewery Name,Brewery Type,# Breweries in City,Beer Style,...,Basic Utilities,Internet,1bd Apt. (City Center),1bd Apt. (Outside Center),3bd Apt. (City Center),3bd Apt. (Outside Center),Avg. Monthly Income (After Tax),Base Pop. Estimate,2020 Pop. Estimate,website
86,Conroe,Texas,United States,94400,4.0,118,Southern Star Brewing Company,micro,3.0,American Pale Ale (APA),...,266.460,108.960,1271.250,900.000,2300.000,2000.000,3571.00,89148,90358,http://www.southernstarbrewing.com
7,Denton,Texas,United States,148146,4.0,426,Armadillo Ale Works,micro,10.0,American Double / Imperial Stout,...,162.230,60.430,960.000,900.000,1475.000,1875.000,3039.00,141123,142302,http://www.armadilloaleworks.com
0,Bend,Oregon,United States,102059,3.0,408,10 Barrel Brewing Company,large,20.0,American Pale Lager,...,173.470,81.280,2300.000,1850.000,3375.000,2760.000,3163.00,99126,99533,http://www.10barrel.com
1,Bend,Oregon,United States,102059,3.0,454,Deschutes Brewery,regional,20.0,American Pale Ale (APA),...,173.470,81.280,2300.000,1850.000,3375.000,2760.000,3163.00,99126,99533,http://www.deschutesbrewery.com
36,Bozeman,Montana,United States,54539,3.0,219,Bozeman Brewing Company,micro,10.0,American Porter,...,138.540,71.245,1837.570,1550.000,2950.000,2650.000,4361.11,52855,53119,http://www.bozemanbrewing.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Portland,Oregon,United States,641162,-2.0,116,Base Camp Brewing Co.,micro,20.0,American Pilsner,...,206.890,72.970,1760.260,1430.035,3242.640,2461.730,4599.72,652089,652388,http://www.basecampbrewingco.com
73,Jackson,Mississippi,United States,149761,-2.0,245,Lucky Town Brewing Company,micro,20.0,English Dark Mild Ale,...,265.670,74.800,763.330,700.000,950.000,850.000,2405.00,153643,152846,http://www.luckytownbrewing.com
33,Boston,Massachusetts,United States,654776,-3.0,300,Boston Beer Company,micro,11.0,Radler,...,180.475,60.565,2703.645,1959.190,4993.325,3348.535,5291.66,676216,674272,None
34,Boston,Massachusetts,United States,654776,-3.0,234,Harpoon Brewery,regional,11.0,Herbed / Spiced Beer,...,180.475,60.565,2703.645,1959.190,4993.325,3348.535,5291.66,676216,674272,http://www.harpoonbrewery.com
49,Washington,District of Columbia,United States,670050,-3.0,227,DC Brau Brewing Company,regional,20.0,Scotch Ale / Wee Heavy,...,158.345,57.255,2307.110,1882.140,4600.000,3150.000,5907.32,689545,690093,http://www.dcbrau.com

In [18]:
# Push DataFrames to csv
main_df.to_csv(os.path.join('..','Outputs','Main_Data_Set_Cleaned.csv'), index=False)